<section class="about-section">
  <div class="about-section__container container-about">
    <div>
      <h1 class="description-about__title">Про наш автопарк</h1>
      <p>Ми забезпечуємо безпечні та зручні транспортні рішення для будь-яких потреб. Наш автопарк пропонує широкий вибір автомобілів для перевезення людей та вантажів, з гарантованою технічною підтримкою та обслуговуванням.</p>
      <p>У "Супер-Тачки" кожен автомобіль — це герой доріг, готовий до пригод! Ми надаємо широкий спектр транспортних послуг, від легковиків для щоденних поїздок до потужних вантажівок для будь-яких вантажних завдань.</p>
    </div>

    <div>
      <h2>Наші цінності</h2>
      <p>Ми віримо у відповідальність і якість у кожній подорожі. Тому наш автопарк ретельно обслуговується, щоб забезпечити вам комфорт і безпеку на дорозі.</p>

      <p>Наші цінності включають:</p>
      <ul>
        <li>Якість: Кожен автомобіль проходить регулярне технічне обслуговування та перевірку перед використанням.</li>
        <li>Надійність: Ми дбаємо про ваш комфорт і безпеку під час кожної поїздки.</li>
        <li>Інновації: Наша команда постійно вдосконалює автопарк, щоб запропонувати вам найкращі автомобілі.</li>
      </ul>
    </div>

    <img class="main-image" src="/static/images/home/cars-no-bg.png" alt="Автомобілі автопарку">

    <div>
      <h2>Наша команда</h2>
      <p>Команда "Супер-Тачки" складається з фахівців, які не тільки розуміються на автомобілях, але й дбають про ваші потреби. Ми завжди готові допомогти вам вибрати ідеальний транспорт для вашої подорожі.</p>

      <p>Ми також надаємо консультації щодо вибору автомобілів для будь-яких завдань, щоб забезпечити максимальний комфорт і відповідність вашим потребам.</p>
    </div>

    <div>
      <h2>Приєднуйтесь до нашої спільноти</h2>
      <p>Слідкуйте за нами в соціальних мережах, щоб бути в курсі останніх новин, акцій та порад щодо вибору автомобілів. Ми завжди раді новим клієнтам і готові надати вам найкращий сервіс на дорогах!</p>
      <p>Дякуємо, що обрали "Супер-Тачки" — ми працюємо для того, щоб ваші поїздки були безпечними, комфортними та швидкими!</p>
    </div>
  </div>
</section>
