<header class="header">
  <div class="header__container container-header">
    <div class="logo-header">
      <a href="/" class="logo-header__link">Магазин для домашніх тварин</a>
    </div>
    <nav class="nav-header">
      <ul class="nav-header__list list-nav-header">
        <li><a class="list-nav-header__link" href="/">Головна</a></li>
        <li><a class="list-nav-header__link" href="/products">Продукти</a></li>
        <li><a class="list-nav-header__link" href="/about">Про нас</a></li>
        <li><a class="list-nav-header__button" href="/products/add">Додати продукт</a></li>
      </ul>
    </nav>
  </div>
</header>
