.products-list-section {
  padding: 40px 0;
}
.products-list__container {
}
.container-products {
}
.container-products--margin>*:not(:last-child) {
  margin: 0 0 40px 0;
}
.container-products__title {
  font-size: 2rem;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}
.container-products__list {
}
.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  row-gap: 64px;
}
.list-products__item {
  max-width: 100%;
  text-align: start;
  border: 1px solid black;
  border-radius: 8px;
  transition: 0.2s ease;
}
.list-products__item:hover {
  transform: translate(0, -4px);
}
.item-product__link {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 16px;
}
.item-product {
}
.item-product__link>*:not(:last-child) {
  margin: 0 0 8px 0;
}
.item-product__title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.item-product__image {
  max-width: 100%;
  max-height: 200px;
}
.item-product__link .item-product__image--margin {
  margin: 0 0 32px 0;
}
.item-product__link .item-product__title--margin,
.item-product__link .item-product__text--margin {
  margin: 0 0 16px 0;
}
.item-product__text {
}
.list-products__item--empty-list {
}
.bold {
  font-weight: 600;
}