<section class="hero-section">
  <div class="hero-section__container container-hero">
    <div class="container-hero__description description-hero description-hero--margin">
        <h1 class="description-hero__title description-hero__title--margin">
          "Супер-Тачки" - Ваш надійний партнер на дорогах
        </h1>
        <ul class="description-hero__list list-hero list-hero--margin">
          <li>
            Ми забезпечуємо безпечні та зручні транспортні рішення для будь-яких потреб. Наш автопарк пропонує широкий вибір автомобілів для перевезення людей та вантажів, з гарантованою технічною підтримкою та обслуговуванням.
          </li>
          <li>
             "Супер-Тачки" — це надійні авто з характером, які готові підкорювати будь-які дороги. Обирайте нас, якщо цінуєте комфорт, безпеку і швидкість, адже кожна наша автівка — справжній герой доріг!
          </li>
        </ul>
        <a class="description-hero__button" href="/products">Переглянути автопарк</a>
    </div>
    <div class="container-hero__media media-hero">
      <video class="media-hero__video" autoplay="" muted="" loop="" playsinline="">
        <source src="/static/videos/cars.webm" type="video/webm">
        <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">
      </video>
    </div>
  </div>
</section>