<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{metaTitle}}</title>
  <link rel="stylesheet" href="/static/stylesheets/shared.css">
  <link rel="stylesheet" href="/static/stylesheets/home/index.css">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container container-header">
        <div class="logo-header">
          <a href="/" class="logo-header__link">Магазин для домашніх тварин</a>
        </div>
        <nav class="nav-header">
          <ul class="nav-header__list list-nav-header">
            <li><a class="list-nav-header__link" href="/">Головна</a></li>
            <li><a class="list-nav-header__link" href="/products">Продукти</a></li>
            <li><a class="list-nav-header__link" href="/about">Про нас</a></li>
            <li><a class="list-nav-header__button" href="/products/add">Додати продукт</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      {{{body}}}
    </main>
    <footer class="footer">
      <div class="footer__container container-footer">
        <p class="container-footer__text">&copy; 2024 Магазин для домашніх тварин. Всі права захищені.</>
        <nav class="container-footer-nav nav-container-footer">
          <ul class="nav-container-footer__list list-nav-footer">
            <li><a class="list-nav-footer__link" href="/">Головна</a></li>
            <li><a class="list-nav-footer__link" href="/products">Продукти</a></li>
            <li><a class="list-nav-footer__link" href="/about">Про нас</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
  
</body>
</html>