<footer class="footer">
  <div class="footer__container container-footer">
    <p class="container-footer__text">&copy; 2024 Автопарк "Супер-Тачки". Всі права захищені.</p>
    <nav class="container-footer-nav nav-container-footer">
      <ul class="nav-container-footer__list list-nav-footer">
        <li><a class="list-nav-footer__link" href="/">Головна</a></li>
        <li><a class="list-nav-footer__link" href="/products">Автопарк</a></li>
        <li><a class="list-nav-footer__link" href="/about">Про нас</a></li>
      </ul>
    </nav>
  </div>
</footer>