<section class="hero-section">
  <div class="hero-section__container container-hero">
    <div class="container-hero__description description-hero description-hero--margin">
        <h1 class="description-hero__title">
          Лапки, хвостики і все, що між ними
        </h1>
        <h2 class="description-hero__sub-title sub-title-hero--margin">
          Магазин, де мрії твоїх пухнастиків збуваються!
        </h2>
        <nav class="description-hero-nav nav-hero">
          <ul class="nav-hero__list list-nav-hero list-nav-hero--margin">
            <li><a class="list-nav-hero__link" href="/">Головна</a></li>
            <li><a class="list-nav-hero__link" href="/products">Продукти</a></li>
            <li><a class="list-nav-hero__link" href="/about">Про нас</a></li>
          </ul>
          <a class="nav-hero__button" href="/products/add">Додати продукт</a>
        </nav>
    </div>
    <div class="container-hero__media media-hero">
      <video class="media-hero__video" autoplay="" muted="" loop="" playsinline="">
        <source src="/static/videos/cats.webm" type="video/webm">
        <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">
      </video>
    </div>
  </div>
</section>