<section class="about-section">
  <div class="about-section__container container-about">
    <div>
      <h1 class="description-about__title">Про наш магазин</h1>
      <p>Ласкаво просимо до нашого магазину для домашніх тварин, де ми віримо, що кожен домашній улюбленець заслуговує на найкраще! Наш магазин був заснований у 2020 році з метою надання власникам домашніх тварин найвищої якості товарів та послуг, які допоможуть зробити життя їхніх улюбленців ще більш комфортним і щасливим.</p>
      <p>Ми пропонуємо широкий асортимент продуктів, від високоякісного корму та наповнювачів до іграшок, аксесуарів і засобів для догляду. Наші товари ретельно обрані нашими експертами, щоб забезпечити здоров'я та добробут ваших домашніх улюбленців.</p>
    </div>

    <div>
      <h2>Наші цінності</h2>
      <p>Ми віримо в відповідальність перед тваринами і прагнемо надавати нашим клієнтам лише перевірені і безпечні продукти. Кожен товар, який ви знайдете у нашому магазині, проходить ретельну перевірку, щоб ви могли бути впевнені у його якості.</p>

      <p>Наші цінності включають:</p>
      <ul>
        <li>Якість: Ми обираємо лише найкращі бренди, які дбають про здоров'я тварин.</li>
        <li>Підтримка: Наша команда завжди готова допомогти вам з вибором товарів і надати поради щодо догляду за вашими улюбленцями.</li>
        <li>Спільнота: Ми підтримуємо місцеві притулки для тварин і беремо участь у заходах, що сприяють захисту прав тварин.</li>
      </ul>
    </div>

    <img class="pets-image" src="/static/images/home/pets-no-bg.png" alt="Милі тваринки">

    <div>
      <h2>Наша команда</h2>
      <p>Наша команда складається з досвідчених фахівців, які люблять тварин і мають великий досвід у догляді за ними. Ми завжди готові ділитися своїми знаннями та допомогти вам знайти саме те, що потрібно для вашого улюбленця.</p>

      <p>Ми також організовуємо безкоштовні консультації для нових власників тварин, щоб допомогти їм адаптуватися до нового життя з їхніми домашніми улюбленцями.</p>
    </div>

    <div>
      <h2>Приєднуйтесь до нашої спільноти</h2>
      <p>Слідкуйте за нами в соціальних мережах, щоб отримувати останні новини, акції та корисні поради щодо догляду за тваринами. Ми завжди раді бачити нових членів нашої спільноти!</p>
      <p>Дякуємо, що обрали наш магазин для домашніх тварин. Ми сподіваємось, що ви знайдете все необхідне для ваших улюбленців та зробите їхнє життя ще яскравішим!</p>
    </div>
  </div>
</section>

